<%= form_with(model: cliente, local: true, class: 'needs-validation') do |form| %>
  <% if cliente.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(cliente.errors.count, "error") %> impide guardar este cliente:</h4>
      <ul>
        <% cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Campo para el nombre -->
  <div class="form-group mb-3">
    <%= form.label :name, 'Nombre', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <!-- Campo para el email -->
  <div class="form-group mb-3">
    <%= form.label :email, 'Correo Electrónico', class: 'form-label' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>

  <!-- Botón para enviar el formulario -->
  <div class="form-group mt-4 text-center">
    <%= form.submit 'Guardar Cliente', class: 'btn btn-primary' %>
  </div>
<% end %>
