<%= form_with(model: pelicula, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title, 'Título de la Película' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :genre, 'Género' %>
    <%= form.text_field :genre, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :year, 'Año de estreno' %>
    <%= form.number_field :year, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_url, 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOiHtEyekPRJZw_eu2-egjbWlgYIS-Xp9yBg&s' %>
    <%= form.text_field :image_url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar Película', class: 'btn btn-primary' %>
  </div>
<% end %>
