<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Title:</strong>
    <%= pelicula.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= pelicula.genre %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= pelicula.year %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= pelicula.cliente_id %>
  </p>

</div>
